
<!DOCTYPE html>

<html>

<head>
    <title>About</title>
    <link rel="icon" href="/img/weather.png">
    <link rel="stylesheet" href="/css/styles.css">
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous">

</head>

<body class="container">
    <div class="main-content">
        {{>header}}
        <p>Hello, this site was created by Samir Boulguant, it helps to get the weather information</p>
        <img class="portrait" src="/img/ME.jpg">
    </div>
    
    {{>footer}}
</body>

</html>