
<!DOCTYPE html>

<html>

<head>
    <title>About</title>
    <link rel="icon" href="/img/weather.png">
    <link rel="stylesheet" href="/css/styles.css">

</head>

<body>
    <div class="main-content">
        {{>header}}
        <p>Hello, this site was created by Samir Boulguant, it helps to get the weather information</p>
        <img class="portrait" src="/img/ME.jpg">
    </div>
    
    {{>footer}}
</body>

</html>